
header {
  display: flex;
  justify-content: right;
  background-color: rgb(46, 85, 82);
  width: 100%;
  height: 80px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: rgb(199, 207, 207);
  }

h4,
h5,
h6 {}
 

p {
  margin: 0;
}

.hero-banner {
  display: flex;
  background-color: rgb(114, 192, 211);
  margin-left: 80%;
  margin-top: 10%;
  }

#navBar {
  display: flex;
  flex-direction: row;
  margin: 0px 5%;
  align-items: center;
  justify-content: flex-end;
  }

#navigation {
    display: flex;
    width: 100%;
    }

#navigation p {
    cursor: pointer;
    text-decoration: none;
    color: rgb(114, 192, 211);
    text-decoration: underline;
    text-decoration-thickness: 3px; 
    margin: 10px;
    }

  h1 {
    display: flex;
    position: absolute; right: 10%;
    background-color: rgb(114, 192, 211);
    justify-content: flex-end; right: 80%; 
    width: 100%;
    }
  
  h3 {
    display: flex;
    font-size: 30pt;
    margin-left: 3%;
    width: 12%;
    height: 200px;
    text-align: left;
    border-right-style: solid;
    } 
  
  h4 { 
    display: flex;
    font-size: 30pt;
    margin-left: 0.5%;
    width: 12%;
    height: 200px;
    text-align: left;
    border-right-style: solid;
    }


  #HeaderImage {
    display: flex;
    /* background-image: url("../images/Womans-eyes-Pete.jpg"); */
    background-image: url("../images/02-hero-bg.jpg");
    width: 100%;
    height: 300px;
    background-size: cover;
    align-items: center; 
    justify-content: center;
    background-repeat: no-repeat;
    background-position: 50%;    
    }
  
  .page-section {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    } 
  
  #AboutMePara {
    display: flex;
    width: 70%;
    margin-left: 20%;
    text-align: justify;
    margin-top: 3%;
    height: 90%;
    position: absolute;
    }

  .page-section-contact {
    display: flex;
    flex-direction: row;
    margin: 0px 5%;
    }

#contact-footer {
    
    display: flex;
    flex-direction: row;
    width: 100%;
    color: rgb(114, 192, 211);
    text-decoration: underline;
    text-decoration-thickness: 3px; 
    margin: 10px;
    align-items: center;
    justify-content: flex-end;
    }

#WorkGrid {
    display: flex;
    margin: 0px 5%;
    margin-left: 6.5%;
    display: grid;
    grid-template-rows: 300px 300px 300px 300px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "A A"
    "A A"
    "B C"
    "D E"
     ;

    width: 100%;
  }

#A {
  grid-area: A;
  background-image: url("../images/02-portfolio-1.jpg");
  
}

#B {
  grid-area: B;
  background-image: url(../images/02-portfolio-2.jpg);
}
#C {
  grid-area: C;
  background-image: url(../images/02-portfolio-3.jpg)
}

#D {
  grid-area: D;
  background-image: url(../images/02-portfolio-4.jpg)
}

#E {
  grid-area: E;
  background-image: url(../images/02-run-buddy.jpg)
   
}

.GridAreaSpacing {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 20px;
  cursor: pointer;
  display: grid;
  align-content: end;
  
}



    /* 
    @media --- will be useful to change the page as it is resized. */