
header {
  display: flex;
  justify-content: right;
  background-color: rgb(43, 109, 72);
  width: 100%;
  height: 80px;
}

* {
  box-sizing: border-box;
}

#navigation a {  
  /* targets all anchor tags */
  color: aqua;
}

body {
  margin: 0;
  padding: 0;
  /* width: 100%; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: rgb(255, 255, 255);
  }

.hero-banner {
  display: flex;
  background-color: rgb(114, 192, 211);
  margin-left: 20%;
  margin-top: 10%;
  }

#navBar {
  display: flex;
  flex-direction: row;
  margin: 0px 5%;
  align-items: center;
  /* justify-content: flex-end; */
  }

#navigation {
    display: flex;
    width: 100%;
    }

#navigation p {
    cursor: pointer;
    text-decoration: none;
    color: rgb(114, 192, 211);
    text-decoration: underline;
    text-decoration-thickness: 3px; 
    margin: 10px;
    justify-content: flex-end;
    }

  h1 {
    /* Portfolio, - Pete Andrew heading (top left) */
    display: flex;
    position: absolute; left: -80%;
    background-color: rgb(114, 192, 211);
    justify-content: flex-end; right: 80%; 
    width: 100%;
    margin-left: 3%;
    margin-right: 10%;
    padding-right: 2%;
    }
  
  h2 {
    /* cool sub-title here */
    display: flex;
    position: absolute; left: 75%; bottom: 57%;
    background-color: aqua;
          
  }
  
  h3 {
    /* Work and about me headings */
    display: flex;
    font-size: 30pt;
    margin-left: 3%;
    height: 2%;
    text-align: left;
    padding-right: 2%;
    /* background-color: chartreuse; */

    } 
  
    h4 {
    display: flex;
    font-size: 30pt;
    margin-left: 3%;
    height: 2%;
    text-align: left;
    padding-right: 2%;
    /* background-color: chartreuse; */
   
  }

  #HeaderImage {
    display: flex;
    
    /* background-image: url("../images/Womans-eyes-Pete.jpg"); */
    /* background-image: url("../images/02-hero-bg.jpg"); */
    background-image: url("../images/Ferns\ wistamans\ wood\ LowRes.jpg");

    background-position: center; 
   
    width: 100%;
    height: 300px;
    
    background-size: cover;
    align-items: center; 
    background-repeat: no-repeat;
    z-index: -1;
    }
  
    #picture-of-me {
      display: flex;
      background-image: url("../images/photo-of-me-3.jpg");
      width: 200px;
      height: 200px;
      /* position: left; */
      margin-left: 8%;
      z-index: 3;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 50%;
      border: bisque solid 5px;
      
      /* How to move an image within a border??? */

    }

  .page-section {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    /* background-color: blue;   */
  } 
  
#AboutMePara {
        
  display: flex;
  width: 92%;  
  margin-left: 2.4%;
  text-align: justify;
  margin-top: 1%;
  margin-bottom: 0%;
  border-left: solid 5px; 
  
  /* seperates the border from the main grid */
  padding-left: 6%;  
  padding-right: 2%;
  /* background-color: burlywood; */
      
  }

#contact-footer {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80.5%;
    color: rgb(114, 192, 211);
    background-color: rgb(43, 112, 112);
    text-decoration: underline;
    text-decoration-thickness: 3px; 
    font-size: 15pt;
    
            
    /* creates the left border */
    border-left: solid 5px black; 
    /* seperates the border from the main grid */
    padding-left: 0%;  
      
  }
    

#WorkGrid {
  /* Displays work in a grid  */
  display: flex;
  /* margin: 0px 5%; */
  margin-left: 3%;
    
  display: grid;
  grid-template-rows: 300px 300px 300px 300px;
  /* grid-template-rows: 75% 75% 75% 75%;  If you use percentage rahter that px it mashes the bottom of the page :(   */
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "A A"
    "A A"
    "B C"
    "D E"
     ;

    width: 81%;
    
    margin-right: -20%;
   
    
    /* creates the left border */
    border-left: solid 5px; 
    /* seperates the border from the main grid */
    padding-left: 4%;  
    
    background-color: burlywood;
  }


#WorkGrid a {
  color: black;
}

#A {
  grid-area: A;
  background-image: url("../images/Green\ blob\ screen\ shot.jpg");
  background-size: 100%;
  background-position: 50% 35%;
  background-color: rgb(51, 112, 82);
  margin: 1%;  
  border: solid 5px black;
}

#B {
  grid-area: B;
  background-image: url(../images/peter-andrew-desert-render-final-edit-1.jpg);
  

  margin: 2%;  
  border: solid 5px black;
}

#C {
  grid-area: C;
  background-image: url(../images/peter-andrew-sunken-king-ps-edit-2.jpg);
  margin: 2%; 
  border: solid 5px black; 
  background-position: 50% 40%;
}

#D {
  grid-area: D;
  background-image: url(../images/peter-andrew-janglebonespete-zdzisaw-beksinski-garden-of-earthly-delights-w-2394bdf6-5efa-4ecb-a0a1-78272e623571.jpg);
  margin: 2%;  
  border: solid 5px black;
}

#E {
  grid-area: E;
  background-image: url(../images/peter-andrew-blender-still-life-render-4.jpg);
  margin: 2%;   
  border: solid 5px black;  
}

.GridAreaSpacing {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* margin: 10px; */
  
  cursor: pointer;
  display: grid;
  align-content: end;
  
}

.GridAreaSpacing p {
  /* gives menu bars that overlay the grid images */
  background-color: rgb(0, 255, 136);
  width: 20%;
  margin-bottom: 10%;

}

#footer {
  /* final footer, mostly just a bar */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(111, 189, 219);
  width: 100%;
  height: 80px;
  
  
  
  background-image: url(../images/Ferns\ wistamans\ wood\ LowRes.jpg);
  
  background-size: cover;
  background-position: 10%;
}

@media only screen and (max-width: 768px) {
  #WorkGrid {
    grid-template-rows: 200px 200px 200px 200px 200px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "A"
    "B"
    "C"
    "D"
    "E"
    ;
  
  border-left: none;
  width: 90%;
  
  } 
}

@media only screen and (max-width: 768px) {
  h3 {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  h4 {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  #AboutMePara {
    border-left: none;
  }
}

@media only screen and (max-width: 768px) {
  #AboutMePara {
    border-left: none;
  }
}

/* 
    @media --- will be useful to change the page as it is resized. */
/* 
  NOTES:  
 
  How to move an image around inside a CSS box????
  
  */
